{% extends 'base.html' %}
{% load static %}


{% block body %}
<!--Main layout-->
<main>
   <div class="container">
      <div class="row">
         <div class="col-md-8">
            <section class="section section-blog-fw">
               <div class="row">
                  <div class="col-md-12">
                     <div class="card card-cascade wider reverse my-4">
                        <div class="view overlay hm-white-slight">
                           <img src="{{ blog.image.url }}" class="img-fluid w-100 rounded-3" style="height: 500px;">
                           <a href="#!">
                              <div class="mask"></div>
                           </a>
                        </div>
                        <div class="card-body">
                           <h2>{{ blog.title }}</h2>
                           <p class="d-flex justify-content-between">
                              <a class="text-primary">Yazar: {{ blog.user }}</a> 
                              <span class="text-secondary">{{ blog.date_now }}</span>
                           </p>
                        </div>
                     </div>
                     <div class="post-text">
                        <p>{{ blog.text|linebreaks }}</p>
                     </div>
                     <hr>
                     <div class="text-center">
                        <h3 class="h3-responsive">Do you want to share?</h3>
                        <!--Facebook-->
                        <a href="https://www.facebook.com/mdbootstrap" target="_blank"
                           class="btn-floating  btn-fb"><i class="fa fa-facebook"> </i></a>
                        <!--Twitter-->
                        <a href="https://twitter.com/MDBootstrap" target="_blank" class="btn-floating  btn-tw"><i
                              class="fa fa-twitter"> </i></a>
                        <!--Google +-->
                        <a href="https://plus.google.com/u/0/+Mdbootstrap" target="_blank"
                           class="btn-floating  btn-gplus"><i class="fa fa-google-plus"> </i></a>
                     </div>
                  </div>
               </div>
            </section>
            <section class="mb-4">
               <div class="author-box">
                  <h3 class="h3-responsive text-center">About author</h3>
                  <hr>
                  
               </div>
            </section>
            <!-- COMMENTS -->
            <section>
               <div class="comments-list">
                  <div class="section-heading">
                     
                     {% if comment_list %}
                        <div class="fs-4 fw-bold my-3">Yorumlar</div>
                     {% else %}
                        <div class="fs-4 fw-bold my-3">Yorum Bulunmuyor</div>
                     {% endif %}
                        
                  </div>
                  
                  {% for i in comment_list %}
                     <div class="row">
                        <div class="col-sm-2 col-12">
                           <img src="http://mdbootstrap.com/img/Photos/Avatars/avatar-8.jpg">
                        </div>
                        <div class="col-sm-10 col-12">
                           <div class="d-flex justify-content-between">
                              <div class="fs-4 fw-bold">{{ i.user }}</div>
                              <div><i class="fa fa-clock-o"></i> {{ i.date_now }}</div>
                           </div>
                           <div class="card-data">
                              <ul class="list-unstyled">
                                 <li class="comment-date"></li>
                              </ul>
                           </div>

                           <p class="comment-text">{{ i.text }}</p>
                           </div>
                           <hr>
                     </div>
                  {% endfor %}
                     
               </div>
            </section>
            <hr class="between-sections">
            <section>
               <div class="reply-form">
                  <div class="fs-4 fw-bold my-3">Yorum Yap</div>
                  
                  <ol>
                     <div class="fs-4 fw-bold my-3">Formdan veri alabilmek için kurallar</div>
                     <li>form özelliği method POST olmalı</li>
                     <li>form içerisinde csrf token olmak zorunda</li>
                     <li>inputlarda name attribute olmak zorunda</li>
                     <li>buton tipi submit olmak zorunda</li>

                  </ol>
                  
                  <div class="row">
                     <div class="col-sm-2 col-12">
                        <img src="http://mdbootstrap.com/img/Photos/Avatars/avatar-6.jpg">
                     </div>

                     <!--Content column-->
                     <div class="col-sm-10 col-12">
                        <form method="POST">
                           {% csrf_token %}
                           <textarea name="text" cols="30" rows="6" class="form-control" placeholder="Yorum Yazınız"></textarea>
                           <div class="text-end my-3">
                              <button class="btn btn-primary" type="submit">Paylaş</button>
                           </div>
                        </form>
                     </div>
                     <!--/.Content column-->

                  </div>
                  <!--/.Third row-->
               </div>
            </section>
            <!--/.Section: Leave a reply (Logged In User)-->

            <hr class="between-sections">

          
         </div>
         <!--/Post column-->
         <!--Right sidebar-->
         {% include 'partials/_sidenav.html' %}
         <!--/Right sidebar-->
      </div>
   </div>
</main>
<!--/Main layout-->
{% endblock body %}
   

{% block head %}
<link rel="stylesheet" href="https://mdbootstrap.com/live/_MDB/css/customizer.min.css">
{% endblock head %}
   

